<div>
  <link href="./grid-card.css" rel="stylesheet" />
  <div class="grid-card-grid-card">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="grid-card-image"
    />
    <span class="grid-card-text">
      <span>You may need a blood donation in the future.</span>
    </span>
    <span class="content-Light">
      <span>
        Blood donation is considered as the gift of life as there is no
        substitute present for human blood. At every 2 second someone somewhere
        needs the blood. Every day more than 38,000 blood donations are needed.
      </span>
    </span>
  </div>
</div>
