<div>
  <link href="./section-five.css" rel="stylesheet" />
  <div class="section-five-section-five section-container">
    <div class="section-five-max-width max-content-container">
      <div class="section-five-cards-container">
        <div class="section-five-grid-card">
          <img
            alt="image"
            src="public/playground_assets/vector%203-200h.png"
            class="section-five-image"
          />
          <span class="section-five-text">
            <span>You may need a blood donation in the future.</span>
          </span>
          <span class="section-five-text1 content-Light">
            <span>
              Blood donation is considered as the gift of life as there is no
              substitute present for human blood. At every 2 second someone
              somewhere needs the blood. Every day more than 38,000 blood
              donations are needed.
            </span>
          </span>
        </div>
        <div class="section-five-grid-card1">
          <img
            alt="image"
            src="public/playground_assets/vector%203%20%5B1%5D-200h.png"
            class="section-five-image1"
          />
          <span class="section-five-text2">
            <span>Safe blood saves lives</span>
          </span>
          <span class="section-five-text3">
            <span>
              Blood is needed by women with complications during pregnancy and
              childbirth, children with severe anaemia, often resulting from
              malaria or malnutrition, accident victims and surgical and cancer
              patients.
            </span>
          </span>
        </div>
        <div class="section-five-grid-card2">
          <img
            alt="image"
            src="public/playground_assets/vector%203%20%5B2%5D-200h.png"
            class="section-five-image2"
          />
          <span class="section-five-text4">
            <span>Every donation makes a difference.</span>
          </span>
          <span class="section-five-text5 content-Light">
            <span>
              Blood donation is considered as the gift of life as there is no
              substitute present for human blood. At every 2 second someone
              somewhere needs the blood. Every day more than 38,000 blood
              donations are needed.
            </span>
          </span>
        </div>
        <div class="section-five-grid-card3">
          <img
            alt="image"
            src="public/playground_assets/vector%203%20%5B3%5D-200h.png"
            class="section-five-image3"
          />
          <span class="section-five-text6">
            <span>You may need a blood donation in the future.</span>
          </span>
          <span class="section-five-text7 content-Light">
            <span>
              Blood donation is considered as the gift of life as there is no
              substitute present for human blood. At every 2 second someone
              somewhere needs the blood. Every day more than 38,000 blood
              donations are needed.
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
